body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

h1 {
    font-family: 'Domine', serif;
}

#div1 {
    border-style: solid;
    border-color: black;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

#div2 {
    padding: 20px;
    font-family: 'Domine', serif;
}

#div3 {
    padding: 10px;
}

#searchInput {
    width: 50%;
}