body {
    background-color: grey;
    display: flex;
    margin: 5px;
}

h1 {
    font-family: 'Domine', serif;
}

#div1 {
    border-style: solid;
    border-color: black;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

#div2 {
    padding: 10px;
}

#div3 {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}